@media (min-width: 1400px) {
    .content {
        margin-top: 4em;
        flex-flow: column;
        display: flex;
        &--form:hover,
        &--form:active {
            background-image: radial-gradient(#cfd8dc30, #cfd8dc40, #cfd8dc50);
            transition: all 0.1s;
            box-shadow: 0px 10px 10px -8px;
        }
        &--form {
            pointer-events: none;
            border: 1px solid #bdbdbd90;
            box-shadow: 0 10px 10px -12px;
            border-radius: 4px;
            transition: all 0.1s ease-out 0.5s;
            flex-flow: row wrap;
            display: flex;
            max-width: 60em;
            margin: auto;
            padding: 1em;
            &__left {
                flex: 0 0 15em;
                order: 1;
                justify-content: center;
                align-items: center;
                display: flex;

                .profile_picture {
                    justify-content: center;
                }
            }
            &__right {
                pointer-events: auto;
                order: 2;
                flex: 1 1 auto;
                gap: 2em;
                flex-flow: column;
                display: flex;

                .CKEditor {
                    max-height: 25em;
                    p {
                        display: block;
                    }
                    display: flex;

                    margin-left: 1em;
                }
            }
            .actions {
                display: flex;
                flex-flow: row wrap;

                justify-content: flex-end;
                &--space {
                    flex: 1 1 auto;
                    order: 1;
                }
                &--salvar {
                    flex: 0 0 auto;
                    order: 2;
                }
            }
        }
        &--livrosContainer {
        }
    }
}
.mdc-text-field {
    &--CKEditor {
        margin-bottom: -3em;
        margin-left: 1em;
    }
}
.datepicker {
    height: 2.5em;
    padding: 0 1em 0 1em;
    font-size: 16px;
    border: none;
}
.datepicker:focus,
.datepicker::before,
.datepicker::after,
.datepicker:hover {
    border: none;
    outline: none;
    background-color: inherit;
}
