.container {
    flex-flow: row wrap;

    .header {
        flex: 0 1 100%;
        img {
            max-height: 16em;
            object-fit: cover;
            width: 100%;
        }
    }
    .headerDivisory {
        flex: 0 1 100%;
        flex-flow: row wrap;
        .searchBar {
            height: 5em;
            padding: 1em;
            @media (max-width: 1399px) {
                .mdc-text-field {
                    height: 3em;
                    width: 100%;
                }
            }
            @media (min-width: 1400px) {
                .mdc-text-field {
                    height: 3em;
                    width: 80%;
                    margin-left: 10%;
                }
            }

            .mdc-text-field > input:focus {
                border-bottom: 2px solid #80bdff;
            }
        }
        @media (max-width: 1399px) {
            .indexBar {
                height: 3em;
            }
        }
    }

    .conteudo {
        flex: 0 1 100%;
        display: flex;
        &--leftBar {
            order: 0;
            flex: 0 1 15em;
            display: inline-grid;
            grid-auto-rows: 2.3em;
            grid-auto-columns: 100%;

            [class^="menuGrid"] {
                display: grid;
                align-items: center;
                border-color: solid 1px #bdbdbd;

                .menuContent {
                    display: flex;
                    width: 15em;
                    flex-flow: row wrap;
                    p {
                        flex: 1 0 auto;
                        display: flex;
                        order: 1;
                    }
                    em {
                        flex: 0 0 1em;
                        order: 2;
                        padding-right: 1em;
                    }
                }
                .menuContent:hover {
                    background-color: #9b65ff25;
                }
            }

            .header {
                background-color: #9b65ff30;
                height: 2em;
                width: 100%;
                border-left: 2px solid #2962ff;
                h5 {
                    margin: 0.2em 0 0 1.2em;
                }
            }
        }
        @media (max-width: 1400px) {
            &--leftBar {
                display: none;
            }
        }
        &--mainContent {
            order: 1;
            flex: 1 1 auto;

            &__livro {
                width: 100%;
            }
        }
        @media (min-width: 1400px) {
            &--rightBar {
                order: 2;
                flex: 0 1 2em;
            }
        }
        @media (max-width: 1399px) {
            &--rightBar {
                display: none;
            }
        }
    }
}
