.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    width: 100%;
    &--cardGridHeader {
        height: 3.5em;
        width: 100%;
        top: 0;
        padding: 0.2em;
        display: flex;
        flex-flow: row wrap;
        border: solid 1px #E0E0E090;

        border-radius: 5px;
        box-shadow: 8px 8px 8px -10px;

        &__left {
            order: 1;
            flex: 0 0 auto;
            display: flex;
            padding:0.4em;

        }
        &__right {
            order: 2;
            justify-content: flex-end;
            display: flex;
            flex: 1 1 auto;
        }
    }
    &--cardGridHeader:hover{
        transition: all 0.3s ;
        background-color:#E0E0E095;

    }
    &--cardContainerFooter {
        height: 3em;
        bottom: 0;
        width: 100%;
        float: right;
    }
    &--cardContainer {
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 3em;
        display: flex;
    }
}
